body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
header{
  display:flex;
  align-items: center;
  padding: 0 100px;
  background-color:black;
  color:white;
  top:0;
  position: sticky;
}

#header-title{
  margin-right: auto;
}

.header-links{
  display:flex;
  align-items: center;
  gap: 50px;
}

.header-links > a{
  font-size: 2rem;
  margin:0;
  color:white;
  text-decoration: none;
}

.header-links > a.active{
  color:white;
  font-weight:bold;
}

.cart-icon{
  cursor:pointer;
  position:relative;

}

.cart-icon > p{
  font-size: .8rem;
  font-weight:bold;
  color:white;
  background-color: rgb(255, 47, 47);
  margin:0 auto;
  padding: 0 5px;
  position:absolute;
  border-radius: 10px;
  transform: translate(-7px, -9px);
  
}

/* End Header */


/* Products Page */
.products{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:32px;
  padding: 50px;
}

.card{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding:20px 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
  border-radius:10px;
}

.product-image > img{
  width:200px;
  height:200px;
}

.product-details{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:100%;
  text-align: center;
}

#product-title{
  margin-top:0;
  margin-bottom:0;
  font-weight:bold;
}

#product-price{
  font-weight:bold;
}

.pricing{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#add-product{
  background-color:black;
  color:white;
  border:none;
  font-weight:bold;
  border-radius:20px;
  padding: 10px 20px;
  cursor:pointer;
  transition: background-color 100ms;
}

#add-product:hover{
  background-color: #5E5E5E;
}
/* End Products Page */

/* Cart Summary */

.cart{
  display:flex;
  align-items: center;
  position: relative;
}

.filler{
  background-color: black;
  opacity: 0.5;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  transition: background-color 100ms;
}

.cart-sidebar,
.cart-items{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cart-sidebar{
  background-color: white;
  position: fixed;
  right:0;
  top:0;
  z-index: 1;
  width:390px;
  height:100vh;
  display:flex;
  flex-direction: column;
  gap:32px;
  align-items: center;
  transition: transform 300ms;
}

.cart-items{
  gap:20px;
  height: 50vh;
  overflow-y: auto;
}

.cart-item{
  display:flex;
  gap: 25px;
  align-items: center;
  width:325px;
 
}

.item-left-section, .item-right-section{
  width: 50%;
}

.item-left-section > img{
  width: 125px;
  height: 150px;
}

.item-right-section{
  display:flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.cart-item-title{
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.quantity{
  display:flex;
  align-items: center;
  gap: 20px;
  align-self: center;
}


#add, #subtract{
  background-color:lightgray;
  height:auto;
}

#add:hover, #subtract:hover{
  background-color:rgb(233, 233, 233);
}


#add:active, #subtract:active{
  background-color:rgb(245, 245, 245);
}

#checkout, #close-cart{
  width: 80%;
  padding: 10px;
  font-weight:bold;
  font-size:2rem;
  border-radius: 30px;
}

#checkout{
  color:white;
  background-color: orange;
  border:none;
}

#checkout:hover{
  background-color: rgb(253, 190, 72);
}

#checkout:active{
  background-color: rgb(255, 184, 53);
}

#close-cart{
  border:2px solid black;
  background-color:white;
  transition: background-color 100ms ease-in, color 100ms ease-in;
  margin-bottom: 20px;
}

#close-cart:hover{
  background-color:black;
  color:white;
}
/* End Cart Summary */