body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header */
header{
  display:flex;
  align-items: center;
  padding: 0 20px;
  background-color:black;
  color:white;
}

#header-title{
  margin-right: auto;
}

.header-links{
  display:flex;
  gap: 32px;
}

.header-links > a{
  font-size: 1.5rem;
  margin:0;
  line-height:normal;
  color:white;
  text-decoration: none;
}

.header-links > a.active{
  color:white;
  font-weight:bold;
}


.cart-icon{
  cursor:pointer;
  position:relative;

}

.cart-icon > p{
  font-size: 0.7rem;
  font-weight:bold;
  color:black;
  background-color: white;
  margin:0;
  padding: 0 3px;
  position:absolute;
  border-radius: 10px;
  transform: translate(-7px, -9px);
  
}

.cart{
  background-color: white;
  position: fixed;
  right:0;
  top:0;
  height:100vh;
  width: 500px;
  transition: transform 300ms;
  z-index: 1;
}
/* End Header */


/* Products Page */
.products{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:32px;
  padding: 50px;
}

.card{
  padding: 10px;
  border:2px solid black;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.product-image{
  margin:0 auto;
}

.product-image > img{
  width: 200px;
  height: 200px;
  border:2px solid black;
}

#product-title{
  text-align: left;
}

.product-details{
  border:2px solid black;
}
/* End Products Page */



/* Cart Summary */

.cart,
.cart-items{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cart{
  padding: 50px 20px;
}

.cart-items{
  /* border:2px solid black; */
  gap:20px;
  height: 60vh;
  /* overflow: scroll; */
  overflow-y: auto;
}

.cart-item{
  display:flex;
  gap: 25px;
  align-items: center;
  /* border:2px solid black; */
  width:350px;
 
}

.item-left-section, .item-right-section{
  width: 50%;
}

.item-left-section > img{
  width: 125px;
  height: 150px;
}

.item-right-section{
  display:flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.cart-item-title{
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.quantity{
  display:flex;
  align-items: center;
  gap: 20px;
  align-self: center;
}


#add, #subtract{
  background-color:lightgray;
  height:auto;
}
/* End Cart Summary */