body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header */
header{
  display:flex;
  align-items: center;
  padding: 0 20px;
  background-color:black;
  color:white;
}

#header-title{
  margin-right: auto;
}

.header-links{
  display:flex;
  gap: 20px;
}

#cart-icon{
  cursor:pointer;
}

.cart{
  background-color: pink;
  position: fixed;
  right:0;
  top:0;
  height:100vh;
  width: 500px;
  transition: transform 300ms;
}
/* End Header */


/* Products Page */
.products{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:32px;
  padding: 50px;
}

.card{
  padding: 10px;
  border:2px solid black;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.product-image{
  margin:0 auto;
}

.product-image > img{
  width: 200px;
  height: 200px;
  border:2px solid black;
}

#product-title{
  text-align: left;
}

.product-details{
  border:2px solid black;
}
/* End Products Page */